<!DOCTYPE html>
<html>
<head>
<title>Регистрация</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/app.css">
</head>

<body class="bg-body">

<div class="container mt-5" style="max-width:400px">

<h3>Регистрация</h3>

{{if .Error}}
<div class="alert alert-danger">{{.Error}}</div>
{{end}}

<div class="card p-3">

<form method="post">

<input class="form-control mb-2" name="username" placeholder="Логин" required>

<div class="input-group mb-2">
<input id="regPass" class="form-control" type="password" name="password" placeholder="Пароль" required>
<button class="btn btn-outline-secondary" type="button" onclick="togglePassword('regPass', this)">👁</button>
</div>

<button class="btn btn-primary w-100">Создать</button>

</form>

</div>

<a href="/login">Войти</a>

</div>

<script>
function togglePassword(id, btn) {
    const input = document.getElementById(id);

    if (input.type === "password") {
        input.type = "text";
        btn.innerText = "🙈";
    } else {
        input.type = "password";
        btn.innerText = "👁";
    }
}
</script>

</body>
</html>